<div class="container">
  <div class="field">
    <label class="label">Enter Email</label>
    <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
      <input
        #emailControl="ngModel"
        class="input"
        required
        pattern=".+@.+\..+"
        name="email"
        [(ngModel)]="email"
        [ngClass]="{'is-danger':emailControl.invalid&&emailControl.touched}"
      >

     <!-- <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div class="help is-danger" *ngIf="emailControl.errors.required">
          Email is required
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors.pattern">
          Invalid email address
        </div>
      </ng-container>--><!--Causing Error-->

      <div style="padding: 10px">
        <button class="button is-primary" [disabled]="emailControl.invalid">Submit</button>
        <button class="button is-warning" (click)="emailForm.reset()">Clear</button>
      </div>
    </form>

  </div>

</div>
