.container {
  margin: 2rem 5rem 2rem 5rem;
}

.myButton {
  background-color: #2060A5;
  border-bottom-color: #2060A5;
  border-radius: 30px;
  padding: 6px 10px 6px 10px;
  color: white;
  margin: 20px 0 ;
}

.myImage {
  width: 300px;
  display: flex;
}
